future==0.18.2
requests==2.25.1
pykerberos==1.2.4
gssapi==1.7.3
tabulate==0.8.9
slam==0.6.1
cython==0.29.28
twine==3.4.2
urllib3==1.26.6
grip==4.6.1
wheel==0.36.2
numpy==1.19.5
scipy==1.7.1
pandas==1.4.2
statsmodels==0.13.2
patsy==0.5.2
scikit-learn==0.24.2
six==1.15.0
seaborn==0.11.1
matplotlib==3.4.2
numpydoc==1.2.1
mysqlclient
recommonmark==0.7.1
sphinx_rtd_theme
sphinxcontrib-osexample==0.1.1
shap==0.40.0
boto3==1.21.46
lifelines==0.27.0
xlsxwriter==3.0.3
causalml==0.12.3
colorama==0.4.3

